<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p class="navbar-text navbar-left">
      <%= link_to 'Wikinimous', articles_path%>
    <p class="navbar-text navbar-right"><%= link_to 'New Article', new_article_path %>
  </div>
</nav>
